.container {
	width:100%;
	padding: 0;
}
.container-fluid {
	width: 100%;
}
div.center {
	text-align:center;
}
#head {
	background-color: black;
}
.culfest h1 {
	font-family: 'Chewy', cursive;
	font-size: 45px;
	color: #f2f2f2;
}
.reg h2{
    font-family: 'Bangers', cursive;
    font-size: 39px;
    letter-spacing: 3px;
    color: #f2f2f2;	
}
.mains {
	
   background: url(/team/img/bck.jpg) no-repeat center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:  0.8;
  
}
.main {
	margin-top: 30px;
	margin-bottom: 30px;
}
#sections ul li {
	padding: 10px;
}
.p {
	border-right: 4px solid #f2f2f2;;
}
#sections ul li a{
	text-decoration : none;
	color: white;
	font-family: 'Kalam', cursive;
	font-size: 25px;
	font-weight: 600;

}
#sections ul li a:hover {
	text-decoration: none;
	font-size: 30px;
	transition: 0.5s;
}
.footer {
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer ul li  {
	padding: 5px;
}
.footer ul li a {
	font-family: 'Boogaloo', cursive;
    font-family: 'Aclonica', sans-serif;
	font-size: 16px;
	color: white;
	opacity: 0.8;
}
.footer ul li a:hover {
	text-decoration: none;
	opacity: 1.0;
	transition: 300;
}
.foot {
	background-color: #595959;
	opacity: 0.9;
}
/*for caption of images*/
.caption-style-1{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.caption-style-1 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-1 li:hover .caption{
		opacity: 1;

	}


	.caption-style-1 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}


	.caption-style-1 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;

	}
	.caption-style-1 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}

	.caption-style-1 .caption-text h1{
		text-transform: uppercase;
		font-size: 24px;
	}
	.caption-style-1 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 400px;
		height: 300px;
		text-align: center;
		top:100px;
	}

